<%- include("partials/header") %>


<h1> Welcome to the landing page </h1>

<a href="/campgrounds"> View all camps </a><br>
<a href="/campgrounds/new"> Add a new camp </a>

<%- include("partials/footer") %>